<h1>Welcome <%= session[:user] %></h1>
<a href='/users/new'> Logout </a>
<% if flash[:errors]%>
	<%flash[:errors].each do |error|%>
		<p><%=error%></p>
	<%end%>
<%end%>

<h2>Post a Message</h2>
<form action='/messages' method = 'post'>
	<input type="hidden" name="authenticity_token" value="VxLCoqvap2IdbFioGuFfTadt+I5jVDPKxwg+6/1wPZIXUHTPyQzAq6Bat6MXlSF9HYrxQN3aXSZWZqJPMf2HOw==" />
	<input style = 'height: 100px' type = 'textarea' name='message[message]'>
	<input type='hidden' value='<%=session[:user]%>' name='message[user_id]'>
	<input type='submit' value = 'Post a Message'>
</form>

<% @messages.each do |message| %>
	<p><%=message.user.user_name%> <%=message.created_at%></p>
	<p><%=message.message%></p>
<% end %>